[submodule "external/thread-pool"]
	path = external/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/BlackXDragon/CPP_Ray_Tracing.wiki.git